<h5 class="size__chart_heading">Size Guide</h5>

<table class="size__chart">
<thead>
  <tr class="size__row">
    <th class="size_headings"></th>
    <th class="size_headings">Height (cm)</th>
    <th class="size_headings">Weight (kg)</th>
    <th class="size_headings">Height (in)</th>
    <th class="size_headings">Weight (lbs)</th>
  </tr>
</thead>
<tbody>
  <tr class="size__row">
    <td class="size_text">2y</td>
    <td class="size_text customBackground">86-92</td>
    <td class="size_text customBackground">12-14</td>
    <td class="size_text customBackground">34-36</td>
    <td class="size_text customBackground">26.5-31</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">3y</td>
    <td class="size_text customBackground">92-98</td>
    <td class="size_text customBackground">14-16</td>
    <td class="size_text customBackground">36-38</td>
    <td class="size_text customBackground">31.5-35.5</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">4y</td>
    <td class="size_text customBackground">98-104</td>
    <td class="size_text customBackground">16-18</td>
    <td class="size_text customBackground">38-41</td>
    <td class="size_text customBackground">35.5-40</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">5y</td>
    <td class="size_text customBackground">104-110</td>
    <td class="size_text customBackground">-</td>
    <td class="size_text customBackground">41-43</td>
    <td class="size_text customBackground">-</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">6y</td>
    <td class="size_text customBackground">110-116</td>
    <td class="size_text customBackground">-</td>
    <td class="size_text customBackground">43-46</td>
    <td class="size_text customBackground">-</td>
  </tr>
</tbody>
</table>
  