<h5 class="size__chart_heading">Size Guide</h5>

<table class="size__chart">
<thead>
  <tr>
    <th class="size_headings"></th>
    <th class="size_headings">Height (cm)</th>
    <th class="size_headings">Weight (kg)</th>
    <th class="size_headings">Height (in)</th>
    <th class="size_headings">Weight (lbs)</th>
  </tr>
</thead>
<tbody>
  <tr class="size__row">
    <td class="size_text">0-3m</td>
    <td class="size_text customBackground">52-58</td>
    <td class="size_text customBackground">4-6</td>
    <td class="size_text customBackground">20-23</td>
    <td class="size_text customBackground">9-13</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">3-6m</td>
    <td class="size_text customBackground">58-68</td>
    <td class="size_text customBackground">6-8</td>
    <td class="size_text customBackground">23-28</td>
    <td class="size_text customBackground">13-17</td>    
  </tr>
  <tr class="size__row">
    <td class="size_text">6-12m</td>
        <td class="size_text customBackground">68-74</td>
    <td class="size_text customBackground">8-10</td>
        <td class="size_text customBackground">28-30</td>
    <td class="size_text customBackground">17-22</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">12-18m</td>
    <td class="size_text customBackground">74-80</td>
    <td class="size_text customBackground">10-12</td>
    <td class="size_text customBackground">30-32</td>
    <td class="size_text customBackground">22-25</td>
  </tr>
  <tr class="size__row">
    <td class="size_text">18-24m</td>
    <td class="size_text customBackground">80-86</td>
    <td class="size_text customBackground">12-14</td>
    <td class="size_text customBackground">32-34</td>
    <td class="size_text customBackground">25-27</td>
  </tr>
</tbody>
</table>
 